.content{
    min-height: calc(95vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #cecece;
}

.content img{
    max-height: 50%;
}

.content .filters button{
    margin-right: 6px;
}

.content h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: hwb(197 33% 43% / 1);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.6), 0 0 15px rgba(197, 197, 255, 0.685), 0 0 25px rgba(0, 0, 0, 0.301);
}

.content .filters .expand-btn{
    padding: 10px;
}