.title-footer{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    height: 60px;
    align-items: center;
    background-color: hwb(197 33% 43% / 0.822);
}

.title-footer a{
    text-transform: uppercase;
    font-size: 18px;
    color: rgb(85, 55, 0);
    letter-spacing: 1px;
    font-weight: bolder;
    text-decoration: none;
}

.title-footer a:hover{
    color: rgb(17, 0, 255);
}
